@media screen and (min-width: 400px) {
    @keyframes changeimage {
        15% {
            background: url(../imagens/imagem2.jpg);
            background-size: cover;
        }

        25% {
            background: url(../imagens/imagem5.jpg);
            background-size: cover;
        }

        50% {
            background: url(../imagens/imagem6.jpg);
            background-size: cover;
        }

        100% {
            background: url(../imagens/imagem7.jpg);
            background-size: cover;
        }
    }

    body {
        animation-name: changeimage;
        animation-duration: 10s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: running;
        background-size: cover;
    }

    header {
        position: relative;
        background: none;
        background-color: rgba(0, 0, 0, 0.548);
        padding: 10px;
        display: flex;
    }

    header div#logotipo {
        width: 80%;
        transform: translateX(-30%);
    }

    #btMenu {
        display: none;
    }

    nav {
        background: none;
        width: 50%
    }

    nav ul {
        transform: translate(0px, 10%);
    }

    nav ul li {
        display: inline-block;
        padding: 5px;
        border: none;
    }

    nav a {
        font-size: small;
        color: white;
        text-decoration: none;
        transition-property: background-color, padding, border-radius;
        transition-duration: 100ms, 1s, 100ms;
        transition-delay: 100ms;
    }

    #menu a:hover {
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 2px;
        color: var(--cor3);
    }

    #sub:hover {
        background-color: var(--cor3);
        color:black;
    }

    .caixa {
        display: inline-table;
        margin: 20px;
        max-width: 300px;
        height: 55vh;
    }

    input.aderir {
        transition-property: backgrand-color, padding;
    }

    input.aderir:hover {
        background-color: var(--cor1);
        color: var(--cor5);
        font-weight: bold;
        padding: 11px;
        transition-duration: 100ms, 500ms, 100ms;
        transition-delay: 100ms;
        transition: 500ms;
    }

    #celular::before {
        content: "\f095";
    }
}

@media screen and (min-width: 500px) {
    nav {
        width: 60%;
    }

    nav ul {
        transform: translate(0%, 70%);
    }

    nav ul li {
        display: inline-block;
    }
}


@media screen and (min-width: 600px) {

    nav {
        width: auto;
    }

    nav ul {
        transform: translate(0%, 70%);
    }

    nav ul li {
        display: inline-block;
    }

    .aderir {
        top: 40%;
    }

}

@media screen and (min-width: 800px) {
    #home{
        padding: 60px 30px;
    }

    #texto{
        width: 50%;
        float: left;
    }
}