@media screen and (min-width: 400px) {
    @keyframes changeimage {
        15% {
            background: url(../imagens/imagem2.jpg);
            background-size: cover;
        }

        25% {
            background: url(../imagens/imagem5.jpg);
            background-size: cover;
        }

        50% {
            background: url(../imagens/imagem6.jpg);
            background-size: cover;
        }

        100% {
            background: url(../imagens/imagem7.jpg);
            background-size: cover;
        }
    }

    body {
        animation-name: changeimage;
        animation-duration: 10s;
        animation-direction: alternate;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-play-state: running;
        background-size: cover;
    }

    header {
        background: none;
        background-color: rgba(0, 0, 0, 0.548);
        height: 60px;
        padding: 10px;
        display: flex;
    }

    header div#logotipo {
        width: 80%;
        transform: translateX(-38%);
    }

    #btMenu {
        display: none;
    }

    nav {
        background: none;
        display: block;
        width: 60%;
    }

    nav ul {
        position: relative;
        top: 10px;
    }

    nav ul li {
        display: inline-block;
        padding: 5px;
        border: none;
    }

    nav a {
        color: white;
        text-decoration: none;
        transition-property: background-color, padding, border-radius;
        transition-duration: 100ms, 1s, 100ms;
        transition-delay: 100ms;
    }

    #menu a:hover {
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 2px;
        color: var(--cor3);
    }

    main {
        margin: auto;
        min-width: 350px;
    }

    #home {
        box-sizing: border-box;
        color: white;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.425);
    }

    #texto {
        text-align: center;
        margin: 20px;
        width: 95%;
        position: relative;
    }

    #texto h1 {
        padding-top: 90px;
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 20px;
    }

    #formulario {
        width: 75%;
        background-color: rgba(0, 0, 0, 0.425);
    }

    #sub:hover {
        background-color: var(--cor1);
        border: 1px solid var(--cor1);
        color: var(--cor3);
    }

    div.caixa {
        display: inline-table;
        width: 65%;
        height: 55vh;
        border: solid rgba(0, 0, 0, 0.438);
    }

    .caixa h2 {
        padding: 20px;
        text-align: center;
        border-bottom: solid rgba(0, 0, 0, 0.329);
        margin: -10px;
        margin-bottom: 10px;
    }

    .caixa p {
        display: block;
        width: 100%;
    }

    input.aderir {
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px;
        border-radius: 20px;
        position: relative;
        display: inline-block;
        transition-property: backgrand-color, padding;
    }

    input.aderir:hover {
        background-color: var(--cor1);
        color: var(--cor5);
        font-weight: bold;
        padding: 15px;
        transition-duration: 100ms, 1s, 100ms;
        transition-delay: 100ms;
        transition: 1s;
    }

    #contacto {
        padding-top: 50px;
        width: 100%;
        margin: auto;
        background-color: var(--cor5);
    }

    #celular::before {
        content: "\f095";
    }

    /*
#avenida::before {
}
*/

}