@media screen and (min-width: 420px) {

     @keyframes typing{
        
         20%{
             color:var(--cor2);
            
         }
         55%{
            
            color:var(--cor3);
         }
         
     }   
    
    @keyframes changeimage {
        25% {background: url(../imagens/imagem4.jpeg) no-repeat;
         background-size: contain;
        }
         50%{
             background: url(../imagens/imagem6.jpg) no-repeat;
         }
      
    }

    body {
        background: url(../imagens/imagem5.jpg) no-repeat;
        background-size: cover;
        animation-name: changeimage;
        animation-duration: 20s;
        animation-direction: alternate;
        animation-fill-mode: backwards;
        animation-iteration-count: infinite;
        animation-timing-function:linear;
        animation-play-state: running;
        
      
    }

    header {
        position: relative;
        background: none;
        background-color: rgba(0, 0, 0, 0.651);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        flex-wrap: wrap;
        flex-flow: column-reverse;
    
    }


#texto h1{
    animation: typing 4s  1s normal ;
    white-space: wrap;
    
    animation-iteration-count: infinite;

    overflow: hidden;
}
  

    header div#logotipo {
        width: 300px;
        transform: translateX(-15%);
    }

    #btMenu {
        display: none;
    }

    nav {
        display: block;
        background: none;
        width: 50%;
    }

    nav ul {
        transform: translate(0px, 3%);
    }

    nav ul li {
        display: inline-block;
        padding: 5px;
        border: none;
    }

    nav ul li a {
        color: white;
        font-size: medium;
        text-decoration: none;
        transition-property: background-color, padding, border-radius;
        transition-duration: 100ms, 1s, 100ms;
        transition-delay: 100ms;
    }

    #menu a:hover {
        padding: 10px;
        border-radius: 2px;
        color: var(--cor3);
    }

    #home{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        align-content: space-around;
    }

    #sub:hover {
        background-color: var(--cor3);
        color: black;
    }

    #formulario{
        max-width: 370px;
    }

    #dsp{
        margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    }

    .caixa {
        margin: 20px;
        max-width: 280px;
        height: auto;
        padding-bottom: 10px;
    }
    .caixa:hover{
          max-width :290px;
          transition: 1s;
    }

    input.aderir {
        transition-property: backgrand-color, padding;
    }

    input.aderir:hover {
        bottom: 5px;
        background-color: var(--cor1);
        color: var(--cor5);
        font-weight: bold;
        padding: 11px;
        transition-duration: 100ms, 500ms, 100ms;
        transition-delay: 100ms;
        transition: 500ms;
    }
    #contacto{
        padding-top: 50px;
        
    }
    #contacto h4{
        padding-top: 40px;
        color:rgb(18, 140, 177);
    
    }
   

    #contacto #logotipo {
        width: 50%;
        margin: auto;
    }

    #celular::before {
        content: "\f095";
    }
    #sobre{
        background-color:var(--cor5);
        margin: auto;


    }
   #sobre h2{
       padding: auto;
       padding-top: 30px;
       text-align: center;
       color: var(--cor1);
   }
    #sobrenos{
        box-sizing: border-box;
        margin: auto;
        max-width: 100%;
        display:flex ;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-around;
        padding: 40px;
        background-color: var(--cor5);
        
        

    }
    #imagens {
        background: url(../imagens/imagem7.jpg)no-repeat;
        width: 600px;
        height: 400px;
        
   
    }
    #stxt{

        padding: 10px;
        margin-top: 40px;
        padding-left: 50px;
    
        
    }
    #stxt h3{
        max-width: 80%;
        padding: 5px;
        color: var(--cor1);
    }
}

@media screen and (min-width: 500px) {
    nav {
        width: 60%;
    }

    nav ul {
        transform: translate(-20%, 50%);
    }
}

@media screen and (min-width: 600px) {
    nav {
        width: auto;
    }

        nav ul {
        transform: translate(-30%, 50%);
    }

    .aderir {
        top: 2%;
    }

}

@media screen and (min-width: 800px) {
    #home {
        position: relative;
    }

    #texto {
        font-size: larger;
        min-width: 200px;
        max-width: 380px;
    }
   

    #creditos {
        font-size: larger;
        padding-top: 50px;
        height: auto;
      
    }


    .caixa {
        font-size: large;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        
    }
    .caixa p{
        margin-bottom: 20px;
    }
}

.icones{
   position: absolute; 
   width: 20px;
   margin-left:-30px;
  
   
   
   
}
#local h4{
    display: inline-block;
    margin-left: 80px;
    padding: 10px;
}
strong{
     font-style: oblique;
    font-size: 18px;
    color: var(--cor1);
}
.maior{
    font-size:30px;
}